[Unit]
Description=Simple Web server for use with Ubuntu demos
After=syslog.target
After=network.target
ConditionPathExists=/etc/show-me/www/

[Service]
Type=simple
WorkingDirectory=/etc/show-me/www/
ExecStartPre=-/usr/bin/touch /etc/show-me/log/http.log
ExecStart=/bin/bash -c 'cd /etc/show-me/www/;exec python3 -m http.server 9999 &>/etc/show-me/log/http.log'
RestartSec=5
Restart=always

[Install]
WantedBy=multi-user.target
